.card-list{
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto auto;
    row-gap: 1em;
    margin: 0 3em;
    
    @media screen and (max-width : 992px) {
        grid-template-columns: repeat(3, 1fr) ;
        margin: 0 1em;
    }
    @media screen and (max-width : 768px) {
        grid-template-columns:repeat(2, 1fr) ;
        margin: 0;
    }
    @media screen and (max-width : 480px) {
        grid-template-columns:repeat(1, 1fr) ;
        margin: 0;
    }
    .card{
        &-item{
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 1em;
        background-color: var(--secondary-color);
        box-shadow: 0 0 1px var(--secondary-color);
        text-decoration: none;
        border: 1px solid var(--border-card-color);
    
        &:hover{
            filter: drop-shadow(0 0 1px var(--secondary-color));
            .card-img{
                transform: scale(1.1);
            }
        }
        }
        &-image{
            width: 100%;
            height: 135px;
        }
        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            // transition:all 0.3s ease-in-out;
            transition: transform .25s;
        }
        &-description{
            // position: absolute;
            // bottom: 0em;
            // height: 40%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            color: var(--title-color);
            width: 100%;
            justify-content: center;
            padding: 1em;
        }
        &-name{
            font-weight: 800;
            font-size: 14px;
            font-family: 'Nunito Sans';
        }
        &-title{
            font-weight: 600;
            font-size: 14px;
            font-family: 'Nunito Sans';
        }
        &-value{
            font-weight: 300;
            font-size: 14px;
            font-family: 'Nunito Sans';
        }
    }   
    &.isEmpty{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__no-videos{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        font-family: 'Nunito Sans';
        color: var(--title-color);
    }
    
}