.App {
  height: 100%;
  width: 100%;
  background: var(--primary-color);
  overflow-x: hidden;
  &.light-mode{
    --primary-color:  hsl(0, 0%, 97%);
    --secondary-color: hsl(0, 0%, 100%); 
    --title-color: hsl(200, 15%, 8%);
    --border-card-color:#dadada;
    --swicther-color:rgb(210 74 74);
    --shadow-secondary-color: rgb(236, 236, 236);
  }
  &.dark-mode{
    --primary-color:  hsl(207, 26%, 17%);
    --secondary-color: hsl(209, 23%, 22%);
    --title-color:hsl(0, 0%, 100%);
    --border-card-color:#22313c;
    --swicther-color:rgb(210 74 74);
    --shadow-secondary-color: #223441;
  }
}